# ==============================
# SUPERUSER INFOS
# ==============================

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=adminpassword
DJANGO_SUPERUSER_EMAIL=admin@example.com

# ==============================
# DJANGO CORE
# ==============================

SECRET_KEY="change-me"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# ==============================
# FRONTEND / CORS
# ==============================

CSRF_TRUSTED_ORIGINS=change-me
FRONTEND_ORIGIN=change-me
BASE_BACKEND_URL=change-me

# ==============================
# DATABASE
# ==============================

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=db
DB_PORT=5432